{% extends 'base.html.twig'%}
{% block body %}

   <h3> Welcome to the Blog </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, facilis distinctio dignissimos reiciendis sapiente mollitia voluptates temporibus, fugit voluptatum perferendis aperiam iste ea praesentium ullam ducimus, maiores ab. Maxime quidem quisquam numquam consequuntur perferendis eum, aperiam, blanditiis quia ad architecto molestias vero velit officia doloribus vel amet sint, dignissimos alias!
    </p>
{% endblock %}